<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/public/css/main.css" />
	</head>
	<body>
		<section class="right full-height half-width scroll">
			<ul id="main-chat-list" class="no-bullet"></ul>

			<div class="right bottom absolute full-width">
				<textarea id="main-chat" class="left"></textarea>
				<button id="send" class="right blue button bottom-margin-1em">Send</button>
			</div>
		</section>
		<section id="weir" class="full-height left half-width right-border-grey gradiant-bg right-inset-shadow">
		</section>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/public/js/action.js"></script>
		<script src="/public/js/chat-engine.js"></script>
	</body>
</html>