html{
	height: 100%;
	padding: 0;
	margin: 0;
}

body{
	height: 100%;
	padding: 0;
	margin: 0;
}

.main{
	position: relative;
}

.full-height{
	height: 100%;
}

.half-width{
	width: 49.5%;
}

.right-border-grey{
	border-right: 1px solid rgb(170,170,170);
}

.right-inset-shadow{
	 box-shadow:inset 0 -5px 10px rgba(0, 0, 0, 0.3);
}

.chat-box{
	width:83%;
	height:4em;
}

.gradiant-bg{
	background: rgb(232,232,232); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(232,232,232,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
}

.blue.button{
	border:1px solid rgb(48,157,207);
	border-radius: 3px;
	background: rgb(99,182,219); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(99,182,219,1) 0%, rgba(48,157,207,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(99,182,219,1)), color-stop(100%,rgba(48,157,207,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); /* W3C */
}

.message{
	background: rgb(240,239,239); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(240,239,239,1) 0%, rgba(245,245,245,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,239,239,1)), color-stop(100%,rgba(245,245,245,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(240,239,239,1) 0%,rgba(245,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(240,239,239,1) 0%,rgba(245,245,245,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(240,239,239,1) 0%,rgba(245,245,245,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(240,239,239,1) 0%,rgba(245,245,245,1) 100%); /* W3C */

	border-radius: 4px;
	padding: .5em 1em;
	margin-bottom: 1em;
}

.filter{
	padding: 1em;
	margin-bottom: 1em;
}

.bottom-margin-1em{
	margin-bottom: 1em;
}

.bottom-border{
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

.absolute{
	position: absolute;
}

.outdent{
	margin-left: -3em;
}

.right{
	float: right;
	right:0;
}

.left{
	float: left;
	left:0;
}

.bottom{
	bottom: 0;
}

.italic {
	font-style: italic;
}

.announcement{
	color: red;
}

.small-heading{
	padding: 0;
	margin: .25em 1em;
	font-size:1.15em;
}

.no-bullet{
	list-style: none;
}

.thin-margin{
	margin: 1em .5em;
}

.no-padding{
	padding: 0;
}

.small-indent{
	text-indent: 1em;
	padding-left: 1em;
}

.block{
	display: block;
}

.scroll{
	overflow: auto;
}

.debug{
	background-color: rgba(0,0,200,0.3);
}